@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

}

body {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  z-index: 10000;
  transition: all 0.5s ease;
  background: transparent;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2em;
  transition: 0.6s;
}

.logo:hover {
  transform: scale(1.2);
}




ul {
  position: relative;
  display: flex;
  top: 0;
  right: 0;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
}

ul li {
  list-style: none;
}

ul li:before {
  content: attr(data-text);
  position: fixed;
  top: 20%;
  /* Adjust this value as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}

ul li:hover:before {
  opacity: 0.4;
  letter-spacing: 3px;
  transition: 0.5s;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ul li a {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  background: #00a2ff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

ul:hover li a {
  opacity: 0;
}

ul li a:hover {
  transform: scale(1.3);
  z-index: 1000;
  background: #d500ff;
  opacity: 1;
}



ul li a:before {
  content: "";
  position: absolute;
  left: -100px;
  width: 80px;
  top: 0;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  transform: skewX(35deg);
  transition: 0s;
}


ul li a:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}

.content {
  max-width: 600px;
}

.content h2 {
  color: #fff;
  font-size: 2.5em;
}

.content h2 span {
  color: #00a2ff;
  font-size: 1.2em;
  display: inline-block;
}

.sci {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100px;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #00a2ff;
  border: 1px solid;
  margin: 10px 0 0;
  transition: transform 0.3s ease;

}

.sci li a:hover {
  background: #ffffff;
  transform: scale(1.2);
}

.sci li a img {
  max-width: 20px;
  filter: invert(1);
  mix-blend-mode: difference;
}

@media (max-width: 767px) {
  header {
    padding: 20px 50px;
  }

  .banner {
    padding: 100px 50px 150px;
  }

  .banner h2 {
    font-size: 1.8em;
  }

  .banner .content p,
  .banner .content a {
    font-size: 1em;
  }

  .banner.active {
    transform: translateX(-250px);
  }


  .sci {
    position: absolute;
    bottom: 50px;
    right: initial;
    flex-direction: row;
  }

  .sci li a {
    margin: initial;
    margin-right: 10px;
  }

}

.container .text {
  position: relative;
  color: #d500ff;
  font-size: 30px;
  font-weight: 600;
}

.container .text.first-text {
  color: #fff;
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-left: 2px solid #f8f8f8;
  animation: animate 2s steps(12) infinite;
}

@keyframes animate {

  40%,
  60% {
    left: calc(100% + 4px);
  }

  100% {
    left: 0%;
  }
}