.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;

}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.box .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.box:hover {
    height: 400px;
}

.box:hover .imgBx img {
    opacity: 1;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
    filter: blue(40px);

}

.box:before,
.box:after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4)
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg, #fbff00, #010615, #fb005e)
}

.box:nth-child(3):before,
.box:nth-child(3):after {

    background: linear-gradient(235deg, #772aff, #010615, #2196f3)
}

.box:nth-child(4):before,
.box:nth-child(4):after {

    background: linear-gradient(235deg, #ff005e, #010615, #fbff00)
}

.box:nth-child(5):before,
.box:nth-child(5):after {

    background: linear-gradient(235deg, #007bff, #010615, #bb00ff)
}

.box:nth-child(6):before,
.box:nth-child(6):after {

    background: linear-gradient(235deg, #772aff, #010615, #2196f3)
}

.box:nth-child(7):before,
.box:nth-child(7):after {

    background: linear-gradient(235deg, #e100ff, #010615, #ff0000)
}

@media (max-width: 480px) {
    .box {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;

}

.box:hover .content {
    opacity: 1;
    transition: 0.5s;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}

@media (max-width: 480px) {
    .box .content {
        height: 50px;
    }

    .box .content h2 {
        font-size: 10px;
    }

    .box .content h2 span {
        font-size: 10px;
    }
}

.buttons-container {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
    background: black;
    transition: transform 0.5s ease;
    opacity: 1;

}

.button:hover {
    animation: rainbow-border 5s infinite;
    transform: scale(1.2);
}


.button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
}

@media (max-width: 480px) {
    .buttons-container {
        bottom: 30px;
    }

    .button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

.dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black */
    display: none;
}

.dropdown.active {
    display: block;
}


.dropdown-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border-color 0.5s ease;

}

.dropdown-content.no-border {
    border-color: white;
}

.dropdown-content a {
    display: block;
    margin-bottom: 10px;
    color: #ff0000;
    text-decoration: none;
    transition: transform 0.5s ease;
    text-align: center;
}

.dropdown-content a:hover {
    transform: scale(1.2);
}

.close-button {
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 30px;
    color: #ff0000;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.close-button:hover {
    transform: scale(1.6);
}

@keyframes rainbow-border {
    0% {
        border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
    }

    25% {
        border-image: linear-gradient(to right, yellow, green, blue, indigo, violet, red, orange) 1;
    }

    50% {
        border-image: linear-gradient(to right, blue, indigo, violet, red, orange, yellow, green) 1;
    }

    75% {
        border-image: linear-gradient(to right, indigo, violet, red, orange, yellow, green, blue) 1;
    }

    100% {
        border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
    }
}


@media (max-width: 480px) {
    .dropdown-content {
        width: 200px;
        height: 200px;
        padding: 10px;
    }

    .close-button {
        font-size: 20px;
    }
}

.neon-text {
    position: fixed;
    top: 15vh;
    /* Adjust the value to position the text vertically */
    left: 40%;
    font-size: 40px;
    color: #ff0000;
    text-align: center;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
    transition: transform 0.5s ease;
    transform-origin: center;
}

.neon-text:hover {
    transform: scale(1.2);
}


@media (max-width: 480px) {
    .neon-text {
        font-size: 20px;
        top: 120px;
        left: 23%;
    }
}

.bubble {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    display: none;
    z-index: 9999;
    border: 2px solid white;
    overflow: auto;
}

.bubble.active {
    display: block;
}

.bubble .close-button {
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: 35px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.bubble .close-button:hover {
    transform: scale(1.6);
}

.bubble p {
    color: #ff0000;
    font-size: 19px;
}

.bubble-content {
    color: white;
}



@media (max-width: 480px) {
    .bubble {
        width: 90%;
        height: 250px;
        padding: 10px;
        font-size: 14px;
    }
}

body,
.nav,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: absolute;
    top: 20px;
    background-color: #000000;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;

}

.nav input:checked~.menu {
    width: 450px;

}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #ff0000;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #ff0000;
    transition: transform 0.5s ease;
    pointer-events: none;
    transition: 0.5s;
}

.nav:hover {
    transform: scale(1.2);
}

.nav input:checked~span {
    background-color: #ff0000;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked~span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked~span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

@media screen and (max-width: 480px) {
    .nav {
        top: 10px;
        padding: 10px;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu li a {
        font-size: 10px;
        margin: 10px;
    }

    .nav input:checked~.menu {
        width: 100%;
    }

    .nav span {
        left: 10px;
    }

    .nav span:nth-child(2),
    .nav span:nth-child(3) {
        transform: translateY(0);
    }
}




body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.special {

    color: #ff0000;
    transform: scale(1.2);
    transition: transform 0.6s;
    font-size: 1em;
}

.special:hover {
    transform: scale(1.4);
}